
{% load quiz_extras %}

<!-- Input name and email area -->
<div class="new-name-input-field">
    <ul class="new-name-field">
        {% for field in form.visible_fields|slice:":3" %}
                <li class="new-name-inputbox">
                    {{field}}
                </li>
        {% endfor %}
    </ul>
</div>

<!-- Quiz Field -->
<div class="new-quiz-field">
    <!-- Quiz number -->
    <div class="new-select-numbers">
        {% for num in quiz_numbers %}
            {% if forloop.counter == 1 %}
                <p class="new-select-number selected">{{num}}</p>
            {% else %}
                <p class="new-select-number">{{num}}</p>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Select quiz field each quiz. -->
    {% for field in form.visible_fields|slice:"3:"%}
    <!--{{quiz.3.quiz_category}}-->
        {% if forloop.counter == 1 %}
            <div class="new-quiz-select-field selected">
                {% with quiz|select_quiz:forloop.counter0 as q %}
                    <p class="new-quiz-category">
                        category : {{q.quiz_category}}
                    </p>
                    <span class="new-quiz-text">
                        　{{q.quiz_text|linebreaksbr}}
                    </span><br>
                {% endwith %}
                {{field}}
            </div>
        {% else %}
            <div class="new-quiz-select-field none-selected">
                {% with quiz|select_quiz:forloop.counter0 as q %}
                    <p class="new-quiz-category">
                        category : {{q.quiz_category}}
                    </p>
                    <span class="new-quiz-text">
                        　{{q.quiz_text|linebreaksbr}}
                    </span><br>
                {% endwith %}
                {{field}}
            </div>
        {% endif %}
    {% endfor %}
</div>