

{% if quiz %}
    <form action="{% url 'quiz:post' %}" method="post">
        {% csrf_token %}

        {% if form.subject.errors %}
            <ol>
                {% for error in form.subject.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
        {% endif %}

        {% include "quiz/input_form.html" %}
        <input type="submit" value="submit">
    </form>
{% else %}
    <p>No quiz are available.</p>
{% endif %}

