

div.new-page{
    background: white url("index_background_image.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Input field. first and family name, email. */

div.new-name-input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

div.new-name-input-field ul.new-name-field{
    background-color: pink;
    padding-left: 0px;
}

div.new-name-input-field ul.new-name-field li.new-name-inputbox{
    list-style-type: none;
}


/* Quiz Field */

div.new-quiz-field{
    width: 95vw;
    display: flex;
    flex-direction: column;
}

div.new-quiz-field div.new-select-numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.new-quiz-field div.new-select-numbers p.new-select-number{
    width: 10%;
    background-color: rgba(200, 0, 255, 0.5);
    border: 1px black solid;
    border-style: solid solid none solid;
    border-radius: 6px 8px 0 0;
    text-align: center;
}

div.new-quiz-field div.new-select-numbers p.new-select-number:hover{
    background-color: rgba(100, 0, 255, 0.8);
}

div.new-quiz-field div.new-select-numbers p.selected{
    background-color: rgba(65, 100, 225, 0.8);
}

/* If checked question, then selector is granted by javascript. */
div.new-quiz-field div.new-select-numbers p.answered{
    background-color: rgba(255, 165, 0, 0.8);
}

div.new-quiz-field div.new-quiz-select-field{
    width: 95vw;
    background-color: rgba(65, 100, 225, 0.8);
    border: 1px black solid;
    border-style: none solid solid solid;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

div.none-selected{
    display: none;
}

/* Quiz text and category field. */
div.new-quiz-field div.new-quiz-select-field p.new-quiz-category{
    color: rgb(20, 255, 120);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

div.new-quiz-field div.new-quiz-select-field span.new-quiz-text{
    color: beige;
}


/* Select quiz field. */
div.new-quiz-field div.new-quiz-select-field ul.new-radio-select{
    padding-left: 10px;
}

div.new-quiz-field div.new-quiz-select-field ul.new-radio-select li{
    list-style-type: none;
    color: beige;
}


/* Submit Button */
div.new-page div.submit-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.new-page div.submit-field input.quiz-submit-btn{
    width: 200px;
    height: 34px;
    background-color: burlywood;
    border: 3px beige ridge;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

div.new-page div.submit-field input.quiz-submit-btn:hover{
    background-color: rgb(255, 140, 0);
}